/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*content*/
body{
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
   
}
header{
    background-color:#F96115;
    padding: 20px 0;
}
.container{
   max-width: 50%;
   margin: 0 auto;
   
   
   
}
.nav-background{
    padding: 10px 0;
    

    
    
}
.flex{
    display: flex;
    
}
.nav-background a{
    text-decoration: none;
    color:white;
    padding: 0 20px;

}
.inner-body{
    background-color: #D4CEA7;
}
.list-style{
    list-style-position: outside;
    list-style-type: decimal;
    padding: 10px 20px;
    color:#D4CEA7;
  
}
.list-style-2{
    list-style-position: outside;
    list-style-type: disc;
   
    padding: 10px 20px;
    color:#D4CEA7;
  
}
.box{
    background-color: #005979;
    width: 200px;
    height: 350px;
    padding-left: 10px;
  box-shadow: 5px 5ps 10px 4px rgba(0, 0, 0, 0.7);
    display: inline-flex;
    /*padding-left: 20px;*/
    margin-top: 30px;
    
    
   
}
.list-style-none{
    list-style-position: outside;
    
    padding: 10px 20px;
    color:#D4CEA7;
  
}
.check{
    height: 15px;
    border-radius: 70%;
   
}

.unorder-box{
   margin-left: 10px;
}
.image-box{
    margin-left: 10px;
}
h2{
    font-family: 'Lato', sans-serif;
    font-size: 27px;
    color: #252C22;
    padding-top: 30px;
}
p{
    font-size: 15px;
padding-left: 40px;
color: #68644F;

}
.para{
    padding-bottom: 40px;
}
footer{
    background-color: black;
    padding: 20px;
}